:root,
:root.dark {
    --colour-white: #fff;
    --colour-black: #1a1a1a;
    --base-grid: 5px;
    --backgroundColor: #16253D;
    --navbarBackgroundColor: #2c345b;
    --navBarTextColor: #b1afaf;
    --textColor: #ffffff;
    --contrastColor: #66c0f4;
    --borderColor: #7289da;
    --secondBorderColor: #3a4c8b;
    --secondaryBackground: #1d3357;
    --secondaryContrast: #f49666;
    --backGroundImage: url('/imgs/background-dark.png');
    --blockquoteBackground: #253459;
}

:root.light {
    --backgroundColor: #708897;
    --navbarBackgroundColor: #99aab5;
    --navBarTextColor: #454749;
    --textColor: #23272a;
    --contrastColor: #7678ED;
    --borderColor: #23272a;
}

@import url(//db.onlinewebfonts.com/c/3750ae4f553135962d46a5e916204fe5?family=GoodTimesW00-Bold);

*,*:before,*:after {
	  box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat",sans-serif;
}

/* navbar / header */

nav#top-navbar {
  z-index: 100;
	background: var(--navbarBackgroundColor);
	position: sticky;
  top: 0;
  width: 100%;
  height: 5rem; 
  box-shadow:4px 7px 10px rgba(0,0,0,.4);
}

.qm-logo h4 {
    font-family: GoodTimesW00-Bold;
    font-size: 2.5rem;
    color: var(--navBarTextColor);
    line-height: 100px;
    float: left;
    transition: 0.4s;
    cursor: pointer;
    position: absolute;
    left: 3.4rem;
    top: 1.4rem;
    transform: translate(-50%, -50%);
}

.qm-logo h4:hover {
  color: var(--contrastColor);
}

.logo h4{
  color: var(--navBarTextColor);
  line-height: 100px;
  float: left;
  transition: 0.4s;
  cursor: pointer;
  position: absolute;
  left: 17.5rem;
  top: 1.4rem;
  transform: translate(-50%, -50%);
}

.logo h4:hover {
  color: var(--secondaryContrast);
  animation: neon-logo 1.5s ease-in-out infinite alternate;
}
@keyframes neon-logo {
  from {
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0), 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0), 0 0 15px rgb(0, 0, 0), 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}
#top-navbar ul {
    list-style: none;
    text-align: right;
}

#top-navbar > ul > li {
	  display: inline-block;
  	font-size: 14px;
  	padding: 0 15px;
  	position: relative;
}

#top-navbar > ul > li > a {
    font-size: 1.2rem;
    text-decoration: none;
	  color: var(--navBarTextColor);
  	display: block;
  	padding: 20px 0;
    transition: all .3s ease;
}
#top-navbar > ul > li:hover > a {
	color: var(--contrastColor); 
}

/* sidemenu */
.nav__cont {
  white-space: nowrap;
  margin-top: 4.9rem;
  position: fixed;
  width: 5rem;
  top:0;
  height: 100%;
  z-index: 100;
  background-color: var(--navbarBackgroundColor);
  overflow:hidden;
  transition:width .3s ease;
  cursor:pointer;
  box-shadow:4px 7px 10px rgba(0,0,0,.4);
  clip-path: inset(0px -15px 0px 0px);
}
.nav__cont:hover {
    width: 12.5rem;
}
@media screen and (min-width: 600px) {
    .nav__cont{ 
      width: 5rem;
    }
}

.nav__cont {
  list-style-type: none;
  color:var(--navBarTextColor);
}
.side-nav:first-child {
    padding-top:2.5rem;
}

.nav__items {
  padding-right: 5rem;
  float: center;
  padding-bottom: 3rem;
  font-family: 'roboto';
}
.nav__items a {
    position: relative;
    display:block;
    top:-45px;
    padding-left:5rem;
    padding-right:1rem;
    transition:all .3s ease;
    margin-left:1rem;
    text-decoration: none;
    color:var(--navBarTextColor);
    font-family: 'roboto';
    font-weight: 100;
    font-size: 1.5em;
}

.nav__items ul li {
    list-style: none;  
}

svg.side-nav{
  margin-left: 0.4rem;
    width: 4.5rem;
    height: 4.5rem;
    cursor:pointer;
}
svg.side-nav path {
    fill: violet;
}
@media screen and(min-width:600px) {
  svg.side-nav {
    width:2rem;
    height:2rem;
  }
}


/* body */

body {
  text-align: center;
  background-image: var(--backGroundImage);
}

.anchor-section {
    top: -250px;
}

h1.headline {
    font-family:'Fjalla One',sans-serif;
    font-size:7em;
    color:var(--secondaryContrast);
    margin: auto;
    padding:0;
    letter-spacing:3px;
    font-weight:500;
    transition:all ease-in .2s;
    text-shadow: 
      1px 1px 0 rgba(238,238,238,1),
      2px 2px 0 rgba(238,238,238,0.9),
      3px 3px 0 rgba(23,23,23,0.8),
      4px 4px 0 rgba(23,23,23,0.7),
      5px 5px 0 rgba(23,23,23,0.6),
      6px 6px 0 rgba(23,23,23,0.5),
      7px 7px 0 rgba(23,23,23,0.4),
      8px 8px 0 rgba(23,23,23,0.3),
      9px 9px 0 rgba(23,23,23,0.2),
      10px 10px 0 rgba(23,23,23,0.1),
      11px 11px 0 rgba(23,23,23,0.09),
      12px 12px 0 rgba(23,23,23,0.08),
      13px 13px 0 rgba(23,23,23,0.07),
      14px 14px 0 rgba(23,23,23,0.06),
      15px 15px 0 rgba(23,23,23,0.05),
      16px 16px 0 rgba(23,23,23,0.04),
      17px 17px 0 rgba(23,23,23,0.03),
      18px 18px 0 rgba(23,23,23,0.02),
      19px 19px 0 rgba(23,23,23,0.01),
      20px 20px 0 rgba(23,23,23,0.0),
      -15px 20px 10px rgba(23,23,23,0.05);
  
}

h1.headline:hover {
  text-shadow:
    1px 1px 0 rgba(238,238,238,1),
    2px 2px 0 rgba(238,238,238,0.9),
    3px 3px 0 rgba(23,23,23,0.8),
    4px 4px 0 rgba(23,23,23,0.7),
    5px 5px 0 rgba(23,23,23,0.6),
    6px 6px 0 rgba(23,23,23,0.5),
    7px 7px 0 rgba(23,23,23,0.4),
    8px 8px 0 rgba(23,23,23,0.3),
    9px 9px 0 rgba(23,23,23,0.2),
    10px 10px 0 rgba(23,23,23,0.1),
    11px 11px 0 rgba(23,23,23,0.09),
    12px 12px 0 rgba(23,23,23,0.08),
    13px 13px 0 rgba(23,23,23,0.07),
    14px 14px 0 rgba(23,23,23,0.06),
    15px 15px 0 rgba(23,23,23,0.05),
    16px 16px 0 rgba(23,23,23,0.04),
    17px 17px 0 rgba(23,23,23,0.03),
    18px 18px 0 rgba(23,23,23,0.02),
    19px 19px 0 rgba(23,23,23,0.01),
    20px 20px 0 rgba(23,23,23,0.0),
    -15px 20px 10px rgba(23,23,23,0.05);
  margin:0;
}

#hide1 {opacity: 0; transition: all .2s ease-in-out;}

h1.headline:hover >#hide1
{opacity: 1;}

#hide2 {
  opacity: 0; 
  transition: all .2s ease-in-out; 
  margin-left: 8px;
  margin-bottom: 10rem;
}

h1.headline:hover >#hide2
{opacity: 1;}

h3 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: var(--secondaryContrast);
  -webkit-text-stroke: .02em black;
  text-shadow: .04em .04em .04em rgba(0,0,0,.4);
}

h4 {
    margin-top: 1rem;
    color: white;
    font-size: 2rem;
}


hr{
  height: 1px;
  background-color: var(--borderColor);
  border: none;
  margin: 1.5rem;
}

hr.divider {
  height: 0.45rem;
  background-color: var(--secondBorderColor);
  border: none;
  margin: 1.5rem;
}

main {
  margin-right: 2.5rem;
  margin-left: 7.5rem;
  transition: margin .3s;
}

main.h2 {
  margin: 3em;
  text-align: center;
}

.form {
  margin: 0 auto;
}

.sub-title-wrap {
  width: 100%;
}

h2.sub-title {
  font-family:'Fjalla One', sans-serif;
  font-size:5em;
  color: var(--contrastColor);
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
  display:inline;
  text-shadow: 
  1px 1px 0 rgba(23,23,23,1),
  2px 2px 0 rgba(23,23,23,0.9),
    3px 3px 0 rgba(23,23,23,0.8),
    4px 4px 0 rgba(23,23,23,0.7),
    5px 5px 0 rgba(23,23,23,0.6),
    6px 6px 0 rgba(23,23,23,0.5),
    7px 7px 0 rgba(23,23,23,0.4),
    8px 8px 0 rgba(23,23,23,0.3),
    9px 9px 0 rgba(23,23,23,0.2),
    10px 10px 0 rgba(23,23,23,0.1),
    11px 11px 0 rgba(23,23,23,0.09),
    12px 12px 0 rgba(23,23,23,0.08),
    13px 13px 0 rgba(23,23,23,0.07),
    14px 14px 0 rgba(23,23,23,0.06),
    15px 15px 0 rgba(23,23,23,0.05),
    16px 16px 0 rgba(23,23,23,0.04),
    17px 17px 0 rgba(23,23,23,0.03),
    18px 18px 0 rgba(23,23,23,0.02),
    19px 19px 0 rgba(23,23,23,0.01),
    20px 20px 0 rgba(23,23,23,0.0),
    -15px 20px 10px rgba(23,23,23,0.05);
  }

  .sub-title:hover {
    text-shadow: 
    1px 1px 0 rgba(23,23,23,1),
    3px 3px 0 rgba(23,23,23,0.9),
    5px 5px 0 rgba(23,23,23,0.8),
    7px 7px 0 rgba(23,23,23,0.7),
    9px 9px 0 rgba(23,23,23,0.6),
    11px 11px 0 rgba(23,23,23,0.5),
    13px 13px 0 rgba(23,23,23,0.4),
    15px 15px 0 rgba(23,23,23,0.3),
    17px 17px 0 rgba(23,23,23,0.2),
    19px 19px 0 rgba(23,23,23,0.1),
    21px 21px 0 rgba(23,23,23,0.08),
    23px 23px 0 rgba(23,23,23,0.06),
    25px 25px 0 rgba(23,23,23,0.04),
    27px 27px 0 rgba(23,23,23,0.02),
    29px 29px 0 rgba(23,23,23,0.0);
    margin: 0 0 0 50px;
    border-bottom: 5px solid;
  }

  .designwrap:hover .I {
    opacity: 1;
}

p {
    font-size: 1.5rem;
  }
  
.sub-container {
    flex: 1;
    margin-left: 5rem;
    margin-right: 5rem;
    color: var(--textColor);
    display: block;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--secondaryBackground);
    border-radius: 1rem;
    border-color: var(--borderColor);
    
}
  
  p.by{
    flex-direction: column;
    font-size: 1.3rem;
    text-align: right;
  }

  p.by:hover {
    color: var(--contrastColor);
    cursor:pointer;
  }

.number-input {
    position: relative;
    display: block;
    text-align: center;
    font-size: 2em;
    color: var(--textColor);
    background-color: var(--navbarBackgroundColor);
    border-color: var(--contrastColor);
    border-radius: 15px;
    font-weight: 400;
    padding: 0.75rem;
    margin: 2rem auto;
    box-sizing: border-box;
    -moz-appearance: textfield;
  }

/* simple checkbox */
.toggle-button {
  margin-top: 1.5rem;
    position: relative;
    display: inline-block;
    color: var(--textColor);  
}

.toggle-button label {
      display: inline-block;
      text-transform: uppercase;
      cursor: pointer;
      text-align: left; 
}

.toggle-button input {
    display: none;
}
.toggle-button__icon {
      cursor: pointer;
      pointer-events: none; }
      .toggle-button__icon:before, .toggle-button__icon:after {
        content: "";
        position: absolute;
        top: 45%;
        left: 35%;
        transition: 0.2s ease-out; }

  .number-input::-webkit-inner-spin-button, 
  .number-input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    background: var(--contrastColor) url(https://cdn-icons-png.flaticon.com/512/2413/2413274.png) no-repeat center center;
    background-size: 75%;
    width: 1em;
    border-left: 1px solid var(--borderColor);
    opacity: 1; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.toggle-button--tuuli label {
  height: 50px;
  line-height: 50px;
  transition: all 0.2s;
  border-radius: 2rem; }
  .toggle-button--tuuli label:before, .toggle-button--tuuli label:after {
    position: absolute;
    right: 1rem;
    transition: all 0.2s .1s ease-out; }

.toggle-button--tuuli input[type=checkbox] + label {
  width: 50px;
  background: #FF5335; }
  .toggle-button--tuuli input[type=checkbox] + label:before {
    opacity: 0;
    transform: translate(0, 20px); }
  .toggle-button--tuuli input[type=checkbox] + label:after {
    opacity: 1;
    transform: translate(0, 0); }

.toggle-button--tuuli input[type=checkbox]:checked ~ label {
  width: 50px;
  background: #61B136; }

.toggle-button--tuuli input[type=checkbox]:checked ~ .toggle-button__icon:before {
  transform: translate(-30%, 100%) rotate(45deg) scale(0.6, 1); }

.toggle-button--tuuli input[type=checkbox]:checked ~ .toggle-button__icon:after {
  transform: translate(20%) rotate(-45deg); }

.toggle-button--tuuli .toggle-button__icon {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0; }
  .toggle-button--tuuli .toggle-button__icon:before, .toggle-button--tuuli .toggle-button__icon:after {
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    margin-left: -10%;
    top: 48%; }
  .toggle-button--tuuli .toggle-button__icon:before {
    transform: rotate(45deg); }
  .toggle-button--tuuli .toggle-button__icon:after {
    transform: rotate(-45deg); }

/* hide / show content (checkbox) */

#steam-group-id-val{
  display: hidden;
}
#steam-group-id-checkbox:checked ~ #steam-group-id-val{
  display: block;
}

.range {
  width: 400px;
  height: 1.563rem;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background: var(--contrastColor);
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -25.438rem 0 0 25rem var(--contrastColor);
}

.range::-moz-range-thumb {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: var(--contrastColor);
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -25.438rem 0 0 25rem var(--contrastColor);
}

.select-box{  
  text-align: center;
  color: var(--textColor);
  height: 3rem;
  font-size: 2.0rem;
  border: solid 1px var(--borderColor);
  border-radius: 1rem;
  padding: 15px 20px;
  border-radius: 10px;  
  width: 18.75rem;  
  -webkit-appearance: button;
  
  -webkit-padding-end: 1.25rem;
  -webkit-padding-start: 0.125rem;
  
  background-position: 97% center;
  background-repeat: no-repeat;  
  background-color: var(--navbarBackgroundColor);
    margin: 1.25rem;
    overflow: hidden;
    padding: 0.313rem 0.625rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .large-select-box {
    text-align: center;
    color: var(--textColor);
    height: 3rem;
    font-size: 2.0rem;
    border: solid 1px var(--borderColor);
    
    padding: 15px 20px;
    border-radius: 10px;  
    width: 25rem;  
    -webkit-appearance: button;
    
    -webkit-padding-end: 1.25rem;
    -webkit-padding-start: 0.125rem;
    background-position: 97% center;
    background-repeat: no-repeat;  
    background-color: var(--navbarBackgroundColor);
    margin: 1.25rem;
    overflow: hidden;
    padding: 0.313rem 0.625rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  select option {
    background-color: var(--navbarBackgroundColor);
  }

/* Acordion on top */

.accordion {
  border: none;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  width: 120rem;
  margin:0 auto;
}

.accordion-wrapper input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion {
  width: 100%;
  color: var(--textColor);
  overflow: hidden;
  margin-bottom: 1rem;
  border-left: 15px solid var(--secondaryContrast);
  border-radius: 0.5rem;
  display: row;  
  grid-template-columns: 1fr 1fr 1fr;  
  grid-template-rows: 50px 50px;  
}
.accordion:last-child{
  margin-bottom: 0;
}
.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px;
  background: var(--blockquoteBackground);
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
}
.accordion-label:hover {
  background-color: var(--secondaryBackground);
}
.accordion-label::after {
  content: "\276F";
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content {
  text-align: left;
  max-height: 0;
  padding: 0 16px;
  color: var(--textColor);
  background: var(--secondaryBackground) ;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content p{
  margin: 0;
  color: var(--textColor);
  font-size: 1.4rem;
}
input:checked + .accordion-label {
  background: var(--secondBackground)
}
input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 16px;
}

blockquote{
  width: 120rem;
  display:block;
  background: var(--blockquoteBackground);
  padding: 15px 20px 15px 45px;
  margin: 1.3rem;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  color: var(--textColor);
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid var(--secondaryContrast);
  border-radius: 1rem;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px var(--borderColor);
  -webkit-box-shadow: 2px 2px 15px var(--borderColor);
  box-shadow: 2px 2px 15px var(--borderColor);
}

.download-sub-container {
    position: relative;
    width: 0 auto;
    height: 30rem;
    display: block;
    margin: 2rem auto;
    padding: 2rem;
    overflow: hidden;
    background-color: var(--secondaryBackground);
    border-radius: 1rem;
    border-color: var(--borderColor);
    box-sizing: border-box;
}

/* page scrollbar style (chrome) */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: var(--navbarBackgroundColor);
}


::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--secondaryContrast); 
  overflow: auto;
}

/* page scrollbar style (other browsers) */

html {
  scrollbar-face-color: var(--secondaryContrast); 
  scrollbar-shadow-color: var(--navbarBackgroundColor); 
  scrollbar-highlight-color: var(--navbarBackgroundColor);
}
/* Only FireFox */
html {
  scrollbar-color: var(--secondaryContrast) var(--navbarBackgroundColor);
}
/* View Scrollbar */
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

#steam-group-id-val {
    opacity: 0;
}

/* exec output style */
#text-container {
    width: 31rem;
    height: 30rem;
    position: absolute;
    color: var(--textColor);
    align-items: stretch;  
    float: right;
    overflow: hidden;
    left: 70%;
    top: 45%;
    transform: translate(0, -45%);
}

#gen-gif {
    position: relative;
    right: 25%;
    top: 20%;
    transform: translate(0, -100%);
    opacity: 1;
    transition: linear 2s;
}

#exec-output {
    position: relative;
    display:block;
    width: 30rem;
    background-color: var(--navbarBackgroundColor);
    color: var(--TextColor);
    height: 20rem; 
    border-radius: 0.7rem;
    border-color: var(--borderColor);
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 5px;
    overflow: auto;
    resize: none;
    cursor: pointer;
    font-size: 1rem;
    opacity: 0;
    top: 18%;
    transition: ease-in-out 2s;
}

#exec-output:focus {
    outline: none !important;
    border-color: var(--borderColor);
    box-shadow: 0 0 10px var(--contrastColor);
}

#exec-output::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#exec-output::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--contrastColor); 
    overflow: auto;
}

#how-to-container {
  position: absolute;
  top: 45%;
  transform: translate(0, -45%);
  width: 21rem;
  height: 21rem;
  opacity: 1;
  justify-content: center;
  align-items: center;
}

#how-to-title h3{
    position: absolute;
    margin-top: -4rem;
    margin-left: 6rem;
}
#gen-exec-title h3{
  position: absolute;
  opacity: 0;
}

#how-to-blockquote {
    opacity: 1;
    width: 30rem;
    height: 20rem;
    display:block;
    background: var(--blockquoteBackground);
    padding: 15px 20px 15px 20px;
    margin: 1.3rem;
    position: relative;
    
    /*Font*/
    font-family: Georgia, serif;
    font-size: 1.3rem;
    line-height: 1.2;
    color: var(--textColor);
    text-align: justify;
    
    /*Borders - (Optional)*/
    border-left: 15px solid var(--secondaryContrast);
    border-radius: 1rem;
    
    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px var(--borderColor);
    -webkit-box-shadow: 2px 2px 15px var(--borderColor);
    box-shadow: 2px 2px 15px var(--borderColor);
}


/* generate button */
.generate-btn {
  background-color: var(--navbarBackgroundColor);
  background-image: url(https://img.icons8.com/plasticine/100/000000/rocket.png);
  background-size: 98%;
  top: 53%;
  margin: auto;
  position: relative;
  display:block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid red;
}

.generate-btn:hover {
  border: 2px dashed var(--contrastColor);
}

/* generate menu */
.links {
  overflow:visible;
  width: 17rem;
  margin: auto;
  top: 45%;
  position: relative;
  opacity: 0;
  --link-size: calc(var(--base-grid)*20);
  color: var(--colour-black);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.links__list {
  position: relative;
  list-style: none;
}

.links__item {
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(var(--link-size)/-2);
  margin-left: calc(var(--link-size)/-2);
  --angle: calc(360deg/var(--item-total));
  --rotation: calc(140deg + var(--angle)*var(--item-count));
  transform: rotate(var(--rotation)) translate(calc(var(--link-size) + var(--base-grid)*2)) rotate(calc(var(--rotation)*-1));
}

.links__link {
  opacity: 0;
  animation: on-load .3s ease-in-out forwards;
  animation-delay: calc(var(--item-count)*150ms);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  background-color: var(--secondaryContrast);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.links__icon {
  width: calc(var(--base-grid)*8);
  height: calc(var(--base-grid)*8);
  transition: all .3s ease-in-out;
  fill: var(--colour-black);
}

.links__text {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  height: calc(var(--base-grid)*2);
  font-size: calc(var(--base-grid)*2);
  display: none;
  bottom: calc(var(--base-grid)*8.5);
  animation: text .3s ease-in-out forwards;
}

.links__link:after {
  content: "";
  background-color: transparent;
  width: var(--link-size);
  height: var(--link-size);
  border: 2px dashed var(--contrastColor);
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s cubic-bezier(.53,-.67,.73,.74);
  transform: none;
  opacity: 0;
}

.links__link:hover .links__icon {
  transition: all .3s ease-in-out;
  transform: translateY(calc(var(--base-grid)*-1));
}

.links__link:hover .links__text {
  display: block;
}

.links__link:hover:after {
  transition: all .3s cubic-bezier(.37,.74,.15,1.65);
  transform: scale(1.1);
  opacity: 1;
}

@keyframes on-load {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  70% {
    opacity: .7;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes text {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(calc(var(--base-grid)*5));
  }
}

@keyframes text-out {
  0% {
    opacity: 1;
    transform: scale(0.8) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(0) translateY(calc(var(--base-grid)*5));
  }
}

/* big generate btn */
#generate-span {
  font-family: GoodTimesW00-Bold;
  position: absolute;
  top: 12%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  padding: 15px;
  background: var(--contrastColor);
  font-weight: bold;
  mix-blend-mode: screen;
  border: 2px solid var(--borderColor);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow:
                1px 1px var(--secondaryContrast),
                2px 2px var(--secondaryContrast),
                3px 3px var(--secondaryContrast);
}

#generate-span:hover {
    border-radius: 2.5rem;
    box-shadow:
                1px 1px var(--navbarBackgroundColor),
                2px 2px var(--navbarBackgroundColor),
                3px 3px var(--navbarBackgroundColor);
}

.link-span-aside {
    color: var(--borderColor);
}

#gen-menu-copy_to_clipboard {
    position: relative;
    bottom: 85%;
    right: 100%;
}

#gen-menu-download{
    position: relative;
    bottom: 80%;
    left: 100%;
}

#gen-menu-share {
    position: relative;
    bottom: 80%;
    left: 80%;
}

#gen-menu-watch_code {
    position: relative;
    bottom: 50%;
    left: 100%;
}

#gen-menu-tutorial {
    position: relative;
    bottom: 60%;
    right: 100%;
}

#links__item-cop-to-clipboard:hover #gen-menu-copy_to_clipboard{
    opacity: 0;
    animation: text-out .3s ease-in-out forwards;
}

#links__item-download:hover #gen-menu-download {
    opacity: 0;
    animation: text-out .3s ease-in-out forwards;
}

#links__item-share:hover #gen-menu-share {
    opacity: 0;
    animation: text-out .3s ease-in-out forwards;
}

#links__item-watch-code:hover #gen-menu-watch_code {
    opacity: 0;
    animation: text-out .3s ease-in-out forwards;
}

#links__item-tutorial:hover #gen-menu-tutorial {
    opacity: 0;
    animation: text-out .3s ease-in-out forwards;
}